Repository pixel-point/nextjs-typescript-tailwind-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

fix: nextjs missing `sharp` warning
  package-lock.json
  package.json
Due: none

fix: svg loader
  next.config.js
Due: prettier --write, eslint --cache --fix

chore: appDir is no more experimental feature
  next.config.js
Due: prettier --write, eslint --cache --fix

feat: enable typed links
  TODO
  next.config.js
  src/components/shared/link/link.tsx
Due: prettier --write, eslint --cache --fix

feat: deps update
  package-lock.json
  package.json
Due: none

fix: review comments
  .prettierignore
  .prettierrc.mjs
Due: none

fix: revert to prettier 2.x
  .prettierignore
  .prettierrc.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

feat: add dependency updates file
  DEPENDENCY_UPDATES.md
Due: prettier --write

feat: enable safe area paddings
  package-lock.json
  package.json
  src/app/about/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/shared/footer/footer.tsx
  src/components/shared/footer/index.ts
  src/components/shared/header/burger/index.ts
  src/components/shared/header/header.tsx
  src/components/shared/header/index.ts
  src/components/shared/mobile-menu/index.ts
  src/components/shared/mobile-menu/mobile-menu.tsx
  src/lib/get-metadata.ts
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: add simple-git-hooks
  .gitignore
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  README.md
  TODO
  package-lock.json
  package.json
  simple-git-hooks.json
Due: prettier --write

chore: add idea folder to .gitignore
  .gitignore
Due: none

feat: setup markdownlint
  .markdownlint.json
  TODO
  package-lock.json
  package.json
Due: none

fix: updated state of .md files after linting
  DEPENDENCY_UPDATES.md
  README.md
Due: prettier --write

fix: revert .gitignore update
  .gitignore
Due: none

feat: unify the config with the others
  .markdownlint.json
  TODO
  markdownlint-config.js
  package.json
Due: prettier --write, eslint --cache --fix

feat: unify the config with the others
  simple-git-hooks.js
  simple-git-hooks.json
Due: prettier --write, eslint --cache --fix

Update TODO
  TODO
Due: none

fix: revert readme and update commitlint scopes
  .commitlintrc.js
  .commitlintrc.json
  README.md
  TODO
  package.json
  simple-git-hooks.js
Due: prettier --write, eslint --cache --fix

Update .commitlintrc.js
  .commitlintrc.js
Due: prettier --write, eslint --cache --fix

chore: prepare git hooks
  package.json
Due: none

chore: deps update
  .commitlintrc.js
  .prettierrc
  .prettierrc.js
  .vscode/settings.json
  package-lock.json
  package.json
  src/components/shared/header/burger/burger.tsx
Due: prettier --write, eslint --cache --fix

fix: fixes after review
  .commitlintrc.js
  .prettierrc
  .prettierrc.js
  src/app/layout.tsx
  src/lib/get-metadata.ts
Due: prettier --write, eslint --cache --fix

feat: add native git hooks
  .hooks/pre-commit
  package.json
Due: none

feat: add commit-msg hook
  .hooks/commit-msg
Due: none

chore: remove unused files and deps
  package-lock.json
  package.json
  simple-git-hooks.js
Due: prettier --write, eslint --cache --fix

chore: downgrade prettier version
  .prettierrc.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

chore: remove simple-git-hooks from deps
  package.json
Due: none

chore: remove simple-git-hooks from package-lock
  package-lock.json
Due: none

chore: minor adjustments
  src/components/shared/header/header.tsx
  src/components/shared/link/index.ts
Due: prettier --write, eslint --cache --fix

chore: update deps
  TODO
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,html,css}) or (any of: *.{md,mdx})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
