Repository pixel-point/nextjs-typescript-tailwind-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,html,css}": "prettier --write",
  "*.{md,mdx}": "prettier --write",
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix"
}

feat: add logic for generating seo meta data
  src/app/layout.tsx
  src/app/page.tsx
  src/utils/get-metadata.ts
Due: prettier --write, eslint --cache --fix

chore: add an example of env variables
  .env.example
  .gitignore
Due: none

feat: add a shared Link component
  src/components/shared/link/index.js
  src/components/shared/link/link.tsx
Due: prettier --write, eslint --cache --fix

feat: add sitemap generation
  next-sitemap.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

chore: update nextjs to the latest version
  package-lock.json
  package.json
Due: none

fix: minor changes
  src/app/page.tsx
  src/utils/get-metadata.ts
Due: prettier --write, eslint --cache --fix

chore: update todo
  .markdownlint.json
  TODO
  package-lock.json
  package.json
Due: none

feat: ignore sitemaps autogenerated files
  .gitignore
Due: none

chore: update todo
  TODO
Due: none

feat: update breakpoints initial setup
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: remove trailing slash as Next.js recommended
  next.config.js
Due: prettier --write, eslint --cache --fix

fix: styles as in Next.js and Tailwind docs
  README.md
  src/app/globals.css
  src/app/layout.tsx
  src/styles/base.css
  src/styles/components.css
  src/styles/main.css
  src/styles/utilities.css
Due: prettier --write, eslint --cache --fix

fix: eslint
  .eslintrc.js
Due: prettier --write, eslint --cache --fix

fix: eslint
  .eslintrc.js
  src/app/.eslintrc.js
  src/components/.eslintrc.js
Due: prettier --write, eslint --cache --fix

feat: editorconfig
  .editorconfig
  TODO
Due: none

feat: check types on pre-commit
  .husky/pre-commit
Due: none

feat: make fonts look smooth
  src/app/globals.css
Due: prettier --write

refactor: remove redundant files
  package.json
  public/favicon.ico
  public/next.svg
  public/thirteen.svg
  public/vercel.svg
Due: none

fix: eslint
  .eslintrc.js
  src/app/page.tsx
  src/components/shared/link/link.tsx
Due: prettier --write, eslint --cache --fix

fix: eslint
  .eslintrc.js
  TODO
Due: prettier --write, eslint --cache --fix

fix: readme
  README.md
Due: prettier --write

chore: update deps
  package-lock.json
Due: none

chore: update deps
  package-lock.json
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

fix: eslint
  .eslintrc.js
  src/components/.eslintrc.js
  src/lib/.eslintrc.js
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

chore: update the next dependency
  package-lock.json
  package.json
Due: none

fix: vector processing and rendering
  next.config.js
Due: prettier --write, eslint --cache --fix

fix: tailwind config export
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: add a Header component
  src/components/shared/header/header.tsx
  src/components/shared/header/index.js
  src/svgs/github.inline.svg
  src/svgs/logo.svg
Due: prettier --write, eslint --cache --fix

feat: add basic example pages
  src/app/about/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/styles/globals.css
Due: prettier --write, eslint --cache --fix

feat: add images for example
  src/app/about/page.tsx
  src/images/nextjs-logo.png
  src/images/tailwindcss-logo.png
  src/images/typescript-logo.png
Due: prettier --write, eslint --cache --fix

fix: minor changes
  src/app/about/page.tsx
  src/components/shared/header/header.tsx
Due: prettier --write, eslint --cache --fix

feat: add a mobile menu
  package-lock.json
  package.json
  src/app/page.tsx
  src/components/shared/header/burger/burger.tsx
  src/components/shared/header/burger/index.js
  src/components/shared/header/header.tsx
  src/components/shared/mobile-menu/index.js
  src/components/shared/mobile-menu/mobile-menu.tsx
Due: prettier --write, eslint --cache --fix

feat: drop `utils` dir
  TODO
  src/app/about/page.tsx
  src/app/page.tsx
  src/lib/get-metadata.ts
Due: prettier --write, eslint --cache --fix

fix: svg path
  next.config.js
Due: prettier --write, eslint --cache --fix

chore: share SVGo config between loaders
  next.config.js
  svgo.config.js
Due: prettier --write, eslint --cache --fix
